
* {
  box-sizing: border-box;
}
body {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  line-height: 1.5;
  margin: 0;
}

p,
h1,
h2,
h3,
ul {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}